.park {
    width: 75vw;
}

.mainCard {
    background-color: rgb(65, 65, 65);
    min-width: 75vw;
    max-width: 100vw;
}

.parkTitle {
    color: white;
    text-align: center;
    width: 100%;
    margin-top: 10px;
}

.formTitle {
    text-align: center;
    font-weight: 600;
    margin-bottom: 0px;
    margin-top: 10px;
}
 
.card-body{
    padding: 0 20px 20px 20px;
}
@media screen and (max-width: 500px) {
    .mainCard {
      width: 100vw;
    }
  }