.modalHeader {
    background-color: #343a40;
    color: white
}

.modal-title {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.modalBody {
    background-color: tomato;
}

.addressBlock {
    margin-bottom: 0px;
    font-weight: 700;
}

.modalFooter {
    background-color: #343a40;
}
span {
    color: white;
}