.formCard {
    background-color: tomato;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 10px ;
    border-bottom-right-radius: 10px ;
}

.formInput{
    margin-top: 10px;
}