.Login {
  padding: 20px 0px 60px 0px;
  background-color: tomato;
  width: 75vw;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.Login form {
  margin: 0 auto;
  max-width: 320px;
  font-weight: 600;
}

.header {
  text-align: center;
  margin-bottom: 10px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
@media screen and (max-width: 500px) {
  .Login {
    width: 100vw;
  }
}
